<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="screen-orientation" content="portrait">
    <title>统一认证平台</title>
</head>

<body>
    <div layout:fragment="content" class="big-content">
        <div class="main-content">
            <ul class="qr-code-corp-wrap" id="corpDiv">
            </ul>
            <div class="qr-code-img-wrap relative">
                <div class="login-container">
                    <h3>扫码登录</h3>
                    <div class="text-center">
                        <div id="wx_gp51"></div>

                            <section id="loginForm" th:if="'true' == ${@environment.getProperty('wecom.login-form.enabled')}">
                                <h3>账号密码登录</h3>
                                <form  method="post" id="fm1" th:object="${credential}" action="login">
                                    <div class="form-group">
                                        <input type="text" id="username" required placeholder="请输入您的账号"
                                               th:field="*{username}"
                                               autocapitalize="none"
                                               spellcheck="false"
                                        >
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="password" required placeholder="请输入您的密码" th:field="*{password}">
                                    </div>
                                    <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
                                    <input type="hidden" name="_eventId" value="submit"/>
                                    <input type="hidden" name="geolocation"/>
                                    <div class="form-group-btn">
                                        <button type="submit">登 录</button>
                                    </div>
                                </form>
                            </section>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">
            wxQR();
        </script>
    </div>

</body>

</html>